POSTGRES_DB=db_name

POSTGRES_USER=postgres_user_name

POSTGRES_PASSWORD=change me

DB_URL=jdbc:postgresql://db:5432/db_name

DB_USERNAME=user_name

DB_PASSWORD=change_me

SPRING_PROFILES_ACTIVE=env

SERVER_PORT=serv_port
